.form-main{
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 25px;
    padding: 10px;
}

.header-main{
    width: 100%;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    
}
.header-main h3{
    text-align: center;
    font-size:25px;
    padding: 5px;
}

/* .sec-arange{
    margin-top: 25px;
    padding: 25px;
} */

.sec-arange ul li{
    display: flex;
    justify-content: space-between;
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-bottom: 1px solid #c3c0c0;
    border-top: 1px solid #c3c0c0;
    padding: 10px;
}

.sec-arange ul li h1 {
    font-size: 19px;
    font-weight: 700;
}

.sec-arange ul li h3 {
    font-size: 15px;
}

.delete-btn{
    font-size: 22px;
    position: relative;
    top: 13px;
}

.sec-arange ul li img{
    width: 14%;
    margin: 10px;
}
.nm-el{
    display: flex;
    /* justify-content: space-around; */
}
.nm-el-sec{
    position: relative;
    top: 13px;
}